h1{
	color: pink;
}
.text1{
	border: 5px solid blue;
	color: green;
}
.bg_g{
	background: green;
}

#head1{
	font-size: 50px;
}

div h4{
	color: green;
}
.box{
	width: 300px;
	height: 200px;
	background-color: blue;
}
#main {
  width: 70px;
  height: 300px;
  border: 1px solid #c3c3c3;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

#main div {
  width: 70px;
  height: 70px;
}
#new {
  width: 200px;
  height: 200px;
  background: skyblue;
  position: relative;
  animation: mymove 5s infinite;
  animation-delay: 1s;
  animation-direction: alternate;
}

@keyframes mymove {
  from {left: 0px;}
  to {left: 200px;}
}
#tree{ 
  background: lightblue ;

}
body { 
  width: 400px;
  height: 400px;
  background-repeat: no-repeat, repeat;
  background-image: url(images/flower.jpg);

  background-blend-mode: lighten;
}